body {
  background-color: #ccfeef;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 18px;
}

.card {
  max-width: 320px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.card__quote {
  text-align: center;
  font-weight: bolder;
}

.card__quote-author {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

footer img {
  width: 24px;
}
